<!DOCTYPE html>
<html lang="en" >
<head th:insert="admin/fragmants.html :: head">
</head>
<body>

<div th:insert="admin/fragmants.html :: nav"></div>
<div class="wrapper d-flex" >
    <div th:insert="admin/fragmants.html :: sideMune"></div>
    <div class="content" style="color: white;" >
        <main>
            <div class="container-fluid">
                <div class="row ml-3">
                    <div class="col-md-12 col-sm-12 my-3">
                        <div class="text-center" >
                            <form action="" th:object="${post}"
                                  method="post"
                                  enctype="multipart/form-data"
                                  th:action="@{/admin/add-post}" >
                                <div class="input-group row ml-1 pt-4 mb-5 row">
                                    <textarea id="tiny" name="content"   class="form-control" rows="10" placeholder="Контентти жазыныз..."></textarea>
                                </div>
                                <div class="input-group row">

                                    <div class="col-md-4">
                                        <select class="form-control form-select form-select-sm" id="dropDownList" name="category">
                                            <option  th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input required type="text" name="title" placeholder="Тема">
                                    </div>
                                </div>
                                <div class="input-group row pt-4">
                                    <label class="mr-5 ml-3">Сурот танданыз</label>
                                    <input  type="file" name="image">
                                </div>


                                <div class="container mt-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('.sideMenuToggler').on('click', function() {
            $('.wrapper').toggleClass('active');
        });

        var adjustSidebar = function() {
            $('.sidebar').slimScroll({
                height: document.documentElement.clientHeight - $('.navbar').outerHeight()
            });
        };

        adjustSidebar();
        $(window).resize(function() {
            adjustSidebar();
        });
    });
</script>
</html>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>