<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: head"></head>
<body>
<div class="container-scroller">
  <div class="main-panel">
    <!-- partial:partials/_navbar.html -->
    <div th:insert="fragments.html :: header">
    </div>

    <!--Akyrky makalalar-->
    <div class="content-wrapper" id="down">
      <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12" style="height: 210px;">
              <div th:if="${session.message}" class="container">
                <div  class="alert alert-danger my-2 text-center" role="alert">
                  <span th:text="${session.message}"></span>
                </div>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
              </div>
              <h3 class="text-center m-3">Катталган электрондук почтаңыз </h3>
              <form action="" th:action="@{/send-otp}" method="post">
                <div class="form-group">
                  <input required type="email" name="email" placeholder="Бул жерге электрондук почтаны киргизиңиз" class="form-control">
                </div>
                <div class="container text-center">
                  <button class="btn btn-warning">OTP жонотуу</button>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
      <div th:insert="fragments.html :: loginPage">
      </div>
      <footer th:insert="fragments.html :: footer"></footer>
    </div>
  </div>
</div>
</body>
</html>