<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ноокат Таңы...">
    <meta name="keywords" content="Nookat,ноокат, ноокат таны,кабар ноокат">
    <title th:text="${title}"></title>

    <link
            rel="stylesheet"
           th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}"
    />

    <link rel="stylesheet" th:href="@{/assets/vendors/aos/dist/aos.css/aos.css}" />
    <link rel="shortcut icon" th:href="@{/assets/images/logoTitle.png}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <div th:fragment="header">
            <header id="header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="navbar-top">
                            <div class="d-flex justify-content-between align-items-center">
                                <ul class="navbar-top-left-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" type="button"data-toggle="modal" data-target="#singinModal" class="nav-link">Катталуу</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" type="button"data-toggle="modal" data-target="#loginModal" class="nav-link">Кируу</a>
                                    </li>


                                </ul>
                                <ul class="navbar-top-left-menu">

                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/" sec:authorize="hasAnyRole('ROLE_ADMIN')" >Админ</a>
                                        <a class="nav-link" href="pages/Байланышуу.html">Байлынышуу</a>

                                        <ul class="social-media">
                                            <li>
                                                <a href="#" th:href="@{/oauth2/authorization/google}">
                                                    <i class="mdi mdi-google"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="mdi mdi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="mdi mdi-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>
                            </div>
                        </div>
                        <div class="navbar-bottom" >
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="navbar-brand" id="logo" href="/"><h1>Ноокат Таңы</h1> </a>
                                </div>
                                <div>
                                    <button class="navbar-toggler" type="button"    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" style="color: black;"
                                            aria-expanded="false"
                                            aria-label="Toggle navigation"
                                            onclick="myFunction()">
                                        <span class="navbar-toggler-icon"></span>

                                    </button>
                                    <div class="navbar-collapse justify-content-center collapse" id="navbarSupportedContent"  >
                                        <div class="mt-5"></div>

                                        <ul class="navbar-nav d-lg-flex justify-content-between align-items-center" th:each="category : ${categories}">
                                            <li>
                                                <button class="navbar-close">
                                                    <i class="mdi mdi-close"></i>
                                                </button>
                                            </li>

                                            <li class="nav-item active">
                                                <a class="nav-link" href="#" th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}">Башкыбет</a>
                                            </li>
                                        </ul>
                                        <ul class="navbar-nav d-lg-flex justify-content-between align-items-center">
                                            <li class="nav-item" id="click">
                                                <div class="contact">
                                                    <a class="nav-link "  href="pages/Байланышуу.html">Байланышуу</a>
                                                    <div class="login">

                                                        <a href="#" type="button"data-toggle="modal" data-target="#loginModal" class="nav-link">Кирүү</a>

                                                        <span>/</span>
                                                        <a  href="#" type="button"data-toggle="modal" data-target="#singinModal" class="nav-link">Катталуу</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>


        <!--Akyrky makalalar-->
        <div class="content-wrapper" id="down">
          <!-- Content-->
            <div th:fragment="loginPage">
                <div  class="modal fade" id="singinModal" tabindex="-1" role="dialog" aria-labelledby="singinModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Ноокат Таңы</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="card-body p-2">
                                    <form  th:action="@{/do_register}"  method="post"   th:object="${user}">
                                        <div class="form-outline mb-4">
                                            <div class="invalid-feedback" th:each="e : ${#fields.errors('username')}" th:text="${e}">
                                            </div>
                                            <input required value="name" type="text" name="username" id="username" class="form-control form-control-lg" />
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input required value="email" type="email" name="email"  class="form-control form-control-lg" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input required type="password"  value="password"  name="password" class="form-control form-control-lg" />
                                        </div>
                                        <div class="form-check d-flex justify-content-start mb-4">
                                            <input class="form-check-input" type="checkbox" value="" id="form1Exampl" />
                                            <label class="form-check-label" for="form1Example3"> Remember password </label>
                                        </div>
                                        <button class="btn btn-primary btn-lg btn-block" type="submit">Катталуу</button>

                                    </form>
                                    <hr class="my-4">
                                    <a class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;color: white"
                                       type="submit" th:href="@{/oauth2/authorization/google}">
                                        <i class="mdi mdi-google me-2"></i>
                                        Sign in with google</a>
                                    <a class="btn btn-lg btn-block btn-primary mb-2 text-center" style="background-color: #3b5998; color: white"
                                       type="submit" th:href="@{/oauth2/authorization/facebook}"><i class="mdi mdi-facebook me-2 pt-2"></i>Sign in with facebook</a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div  class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Ноокат Таңы</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="card-body p-2">
                                    <form th:action="@{/dologin}" action=""  method="post">
                                        <div class="form-outline mb-4">
                                            <input required value="email" type="email" name="username" id="typeEmailX-2" class="form-control form-control-lg" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input required type="password"  value="password" id="typePasswordX-2" name="password" class="form-control form-control-lg" />
                                        </div>


                                        <div class="form-check d-flex justify-content-start mb-4">
                                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                            <label class="form-check-label" for="form1Example3"> Remember password </label>
                                        </div>
                                        <button class="btn btn-primary btn-lg btn-block" type="submit">Кируу</button>
                                    </form>

                                    <hr class="my-4">
                                    <a class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;color: white"
                                       type="submit" th:href="@{/oauth2/authorization/google}">
                                        <i class="mdi mdi-google me-2"></i>
                                        Sign in with google</a>
                                    <a class="btn btn-lg btn-block btn-primary mb-2 text-center" style="background-color: #3b5998; color: white"
                                       type="submit" th:href="@{/oauth2/authorization/facebook}"><i class="mdi mdi-facebook me-2 pt-2"></i>Sign in with facebook</a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:fragment="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1  id="logo1">Ноокат Таңы</h1>
                                <h5 class="font-weight-normal mt-4 mb-5">
                                    Райондук коомдук - саясий гезити. Гезит 1934 - жылдан бери чыгат.
                                </h5>
                            </div>
                            <div class="col-sm-4" >
                                <h3 class="font-weight-bold mb-3"></h3>
                                <ul class="social-media">
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-phone"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-whatsapp"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script th:src="@{/assets/js/script.js}"></script>
                <script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
                <script th:src="@{/assets/vendors/aos/dist/aos.js/aos.js}"></script>
                <script th:src="@{/assets/js/demo.js}"></script>
                <script th:src="@{/assets/js/jquery.easeScroll.js}"></script>

            </footer>
        </div>
    </div>
</div>
</body>
</html>