<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html :: head"></head>
<body>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <div th:insert="fragments.html :: header">
        </div>

        <!-- partial -->
        <div class="flash-news-banner">
            <div class="container">
                <div class="d-lg-flex align-items-center justify-content-between ">
                    <div class="d-flex align-items-center ">
                        <span class="badge kabar badge-dark mr-3">
                            <a  href="#down">  Акыркы кабарлар  </a>
                        </span>
                    </div>
                    <div class="d-flex align-items-lg-start">
                        <span class="text-danger mr-3"><span th:text="${temp}"></span>°C,Nookat</span>
                        <span class=" text-danger" id="demo">ЖУМА, Март 15, 2021</span>

                    </div>
                </div>
            </div>
        </div>
        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
            <p class="text-center" th:text="${session.message.content}"></p>
            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Туура эмес маалымат киргизилди! Кайрадан жасап корунуз...</p>
        </div>


        <!--container-->
        <div class="content-wrapper">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="col-xl-8 stretch-card grid-margin">
                        <div class="position-relative">
                            <a href="#" th:href="@{/category/news/{id}(id=${postBanner.id})}">
                                <img th:class="banner-img" src="#" th:src="@{${'/uploads/'+ postBanner.imageUrl}}"  alt="banner" class="img-fluid" style="border-radius: 3px;">
                                <div class="banner-content" style="padding: 50px 20px">
                                    <h1 class="mb-2" th:text="${postBanner.title}"></h1>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 stretch-card grid-margin">
                        <div class="card bg-dark text-white" >
                            <div class="card-body">
                                <h2>Соңку</h2>

                            <div class="d-flex slaid border-bottom-blue pt-3 pb-4 align-items-center justify-content-between row" th:each="postl: ${postList}">

                                <div class="pr-3 col-sm-8 col-6">
                                    <a href="#" th:href="@{/category/news/{id}(id=${postl.id})}">
                                        <h5 class="sl-left" th:text="${postl.title}"></h5>
                                    </a>
                                </div>
                                <div class=" col-sm-4 col-4">
                                    <a href="#" th:href="@{/category/news/{id}(id=${postl.id})}">
                                        <img style="object-fit: cover" src="#"  th:src="@{/uploads/{link}(link=${postl.imageUrl})}"  th:alt="${postl.imageUrl}" class="img-fluid img-lg">
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--Akyrky makalalar-->
        <div class="content-wrapper" id="down">
            <div class="container">
                <div class="col-sm-12">
                    <div class="card" data-aos="fade-up">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="font-weight-600 mb-4" th:text="${title_content}">

                                    </h3>
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col-lg-6" th:each="post : ${posts}">
                                    <div class="row">
                                        <div class="col-sm-6 grid-margin" style="text-align: center">
                                            <a href="#" th:href="@{/category/news/{id}(id=${post.id})}">
                                                <img style="text-align: center" class="img" src="#" th:src="@{/uploads/{link}(link=${post.imageUrl})}">
                                            </a>

                                        </div>
                                        <div class="col-sm-6 grid-margin">
                                            <div class="content">
                                                <h4 class="font-weight-600 mb-2">
                                                    <a  href="" th:href="@{/category/news/{id}(id=${post.id})}" th:text="${post.title}"></a>
                                                </h4>
                                                <span th:utext="${post.content}"> </span>
                                            </div>

                                            <div class="read-more">
                                                <a href="#" sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/news/delete/{id}(id=${post.id})}">Очуруу</a>
                                                <a href="#" sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/news/{id}(id=${post.id})}">Ондоо</a>
                                                <a href="#" th:href="@{/category/news/{id}(id=${post.id})}">Уландысы</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div th:if="${totalPages > 1}">
                                <ul class = "pagination">

                                    <li class="arrow-pagination d-inline-block" th:if="${currentPage>1}">
                                        <a href="#"   th:href="@{'/page/' + ${currentPage-1}}">&laquo;</a>
                                    </li>

                                    <th:block th:if="${totalPages <= 8}">
                                        <li class="arrow-pagination" th:each="i:${#numbers.sequence(1,totalPages)}">
                                            <a href = "#" th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}" th:text="${i}">1</a>
                                            <a class="active" href = "#" th:if="${currentPage == i}" th:href="@{'/page/' + ${i}}" th:text="${i}">1</a>
                                        </li>
                                    </th:block>
                                    <th:block th:if="${totalPages > 8}">
                                        <th:block th:if="${currentPage <= 3 || currentPage > totalPages - 2}">
                                            <li class="arrow-pagination" th:each="i:${#numbers.sequence(1,3)}">
                                                <a href = "#" th:if="${currentPage != i }" th:href="@{'/page/' + ${i}}" th:text="${i}">1</a>
                                                <a class="active" href = "#" th:if="${currentPage == i}" th:href="@{'/page/' + ${i}}" th:text="${i}">1</a>
                                            </li>
                                            <a class="arrow-pagination" href = "#"  th:href="@{'/page/' + 4}" >...</a>
                                            <li class="arrow-pagination" th:each="i:${#numbers.sequence(totalPages - 2,totalPages)}">
                                                <a href = "#" th:if="${currentPage != i }" th:href="@{'/page/' + ${i}}" th:text="${i}">1</a>
                                                <a class="active" href = "#" th:if="${currentPage == i}" th:href="@{'/page/' + ${i}}" th:text="${i}">1</a>
                                            </li>
                                        </th:block>

                                        <th:block th:if="${currentPage > 3 && currentPage < totalPages - 2}">
                                            <a class="arrow-pagination" href = "#"  th:href="@{'/page/' + ${currentPage - 5}}" >...</a>

                                            <li class="arrow-pagination" th:each="i:${#numbers.sequence(currentPage - 2,currentPage + 2)}">
                                                <a href = "#" th:if="${currentPage != i }" th:href="@{'/page/' + ${i}}" th:text="${i}">1</a>
                                                <a class="active" href = "#" th:if="${currentPage == i}" th:href="@{'/page/' + ${i}}" th:text="${i}">1</a>
                                            </li>

                                            <a class="arrow-pagination" href = "#"  th:href="@{'/page/' + ${currentPage + 3}}" >...</a>
                                        </th:block>
                                        </th:block>


                                    <li class="arrow-pagination" th:if="${currentPage < totalPages}">
                                        <a href="#" th:href="@{'/page/' + ${currentPage+1}}">&raquo;</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="pagination">

<!--                                <div>-->
<!--                                    <span class="arrow-pagination" th:if="${currentPage>1}">-->
<!--                                        <a  href="#"   th:href="@{'/page/' + ${currentPage-1}}">-->
<!--                                            &laquo;-->
<!--                                        </a>-->
<!--                                    </span>-->

<!--                                    <span  class="arrow-pagination paginum" th:each="i:${#numbers.sequence(1,totalPages)}" >-->
<!--                                        <a  href="#" th:if="${i != currentPage}"   th:href="@{'/page/' + ${i}}" th:text="${i}">-->
<!--                                            &-->
<!--                                        </a>-->
<!--                                        <a  href="#" th:if="${i == currentPage}"  class="active"  th:href="@{'/page/' + ${i}}" th:text="${i}">-->
<!--                                            &-->
<!--                                        </a>-->
<!--                                    </span>-->

<!--                                    <span class="arrow-pagination" th:if="${currentPage < totalPages}">-->
<!--                                        <a href="#" th:href="@{'/page/' + ${currentPage+1}}">-->
<!--                                            &raquo;-->
<!--                                        </a>-->
<!--                                    </span>-->

<!--                                </div>-->
                            </div>


                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="fragments.html :: loginPage">
            </div>
           <footer th:insert="fragments.html :: footer"></footer>
        </div>
    </div>
</div>
</body>
</html>