<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: head"></head>
<body>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <div th:insert="fragments.html :: header">
        </div>

        <!-- partial -->
        <div class="flash-news-banner">
            <div class="container">
                <div class="d-lg-flex align-items-center justify-content-between ">
                    <div class="d-flex align-items-center ">
                        <span class="badge kabar badge-dark mr-3">
                            <a  href="#down">  Акыркы кабарлар  </a>
                        </span>
                    </div>
                    <div class="d-flex align-items-lg-start">
                        <span class="mr-3 text-danger">ЖУМА, Март 15, 2021</span>
                        <span class="text-danger">10°C,Nookat</span>
                    </div>
                </div>
            </div>
        </div>


        <!--container-->
        <div class="content-wrapper">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="col-xl-8 stretch-card grid-margin">
                        <div class="position-relative">
                            <a href="#">
                                <img  th:src="@{/img/img.png}" src="assets/images/Башкыбет/Baner/proba_1.jpg" alt="banner" class="img-fluid" style="border-radius: 3px;">
                                <div class="banner-content" style="padding: 50px 20px;">
                                    <h1 class="mb-2">
                                        На территории Киргизии как акции протеста против предварительных результатов выборов...
                                    </h1>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 stretch-card grid-margin">
                        <div class="card bg-dark text-white" >
                            <div class="card-body">
                                <h2>Соңку</h2>

                            <div class="d-flex slaid border-bottom-blue pt-3 pb-4 align-items-center justify-content-between row" th:each="postl: ${postList}">

                                <div class="pr-3 col-sm-8 col-6">
                                    <a href="#" th:href="@{/category/news/{id}(id=${postl.id})}">
                                        <h5 class="sl-left" th:text="${postl.title}"></h5>
                                    </a>
                                </div>
                                <div class=" col-sm-4 col-4">
                                    <a href="#" th:href="@{/category/news/{id}(id=${postl.id})}">
                                        <img style="object-fit: cover"  th:src="@{/img/{link}(link=${postl.imageUrl})}"  th:alt="${postl.imageUrl}" class="img-fluid img-lg">
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Akyrky makalalar-->
        <div class="content-wrapper" id="down">
            <div class="container">
                <div class="col-sm-12">
                    <div class="card" data-aos="fade-up">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="font-weight-600 mb-4" th:text="${title_content}">

                                    </h3>
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col-lg-6" th:each="post : ${posts}">
                                    <div class="row">
                                        <div class="col-sm-6 grid-margin" style="text-align: center">
                                            <a href="#" th:href="@{/category/news/{id}(id=${post.id})}">
                                                <img style="text-align: center" class="img" src="" th:src="@{/img/{link}(link=${post.imageUrl})}">
                                            </a>

                                        </div>
                                        <div class="col-sm-6 grid-margin">
                                            <div class="content">
                                                <span th:utext="${post.content}"> </span>
                                            </div>

                                            <div class="read-more">
                                                <a href="#" th:href="@{/category/news/{id}(id=${post.id})}">Уландысы</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="pagination">
                                <div>
                                    <span class="arrow-pagination" th:if="${currentPage>1}">
                                        <a  href="#"  th:href="@{'/page/' + ${currentPage-1}}">
                                            &laquo;
                                        </a>
                                    </span>
                                    <span class="arrow-pagination" th:each="i:${#numbers.sequence(1,totalPages)}" th:if="${i != currentPage}">
                                        <a  href="#" th:class="active"  th:href="@{'/page/' + ${i}}" th:text="${i}">
                                            &laquo;
                                        </a>
                                    </span>

                                    <span class="arrow-pagination" th:if="${currentPage < totalPages}">
                                        <a href="#" th:href="@{'/page/' + ${currentPage+1}}">
                                            &raquo;
                                        </a>
                                    </span>

                                </div>
                            </div>


                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="fragments.html :: loginPage">
            </div>
           <footer th:insert="fragments.html :: footer"></footer>
        </div>
    </div>
</div>
</body>
</html>