<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: head"></head>
<body>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <div th:insert="fragments.html :: header">
        </div>

        <!--Akyrky makalalar-->
        <div class="content-wrapper" id="down">
            <div class="container">
                <div class="card" data-aos="fade-up">
                    <div id="news_list" class="my-3 my-sm-10">
                        <div>
                            <div class="col-12 col-md-10 col-lg-10">
                                <div class="article-text">
                                    <h3 th:text="${title}"></h3>
                                    <span th:utext="${post.content}"></span>
                                    <hr>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-start ">
                                                <div class="ml-2">
                                                    <h6 class="fw-bold text-primary mb-1 ">Lily Coleman</h6>
                                                    <p class="text-muted small mb-0">
                                                        Shared publicly - Jan 2020
                                                    </p>
                                                </div>
                                            </div>
                                            <div th:each="comment : ${comments}">
                                                <p  th:text="${comment.getContent()}" style="line-height:1.6">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip consequat.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-footer py-1 border-0" style="background-color: #f8f9fa;">
                                            <form method="post" th:action="@{/comment/{id}(id=${post.id})}" action="" th:object="${comment}" >
                                            <div class="d-flex flex-start w-100">
                                                <div class="form-outline w-100">
                                                    <label class="form-label" for="textAreaExample">Message</label>
                                                    <input required name="content" class="form-control" id="textAreaExample" rows="1" style="background: #fff;height:50px">
                                                </div>
                                            </div>
                                            <div class="float-end mt-2 pt-1">
                                                <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                                                <input value="Reset" type="reset" class="btn btn-outline-primary btn-sm">
                                            </div>
                                            </form>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div th:insert="fragments.html :: loginPage">
            </div>
            <footer th:insert="fragments.html :: footer"></footer>
        </div>
    </div>
</div>
</body>
</html>